.episode-container {
    animation: moveInRight 1s ease-out;

    @include respond(tab-port) {
        padding-top: 3rem;
    }

    & img {
        border-radius: 10px;
        animation: moveInLeft 1.5s ease-out;
    }

    & h3 {
        margin-bottom: $gutter-vertical-small;
    }

    & p {
        padding: .5rem 1rem;
        border: 1.5px outset $color-black;
        border-radius: 5px;
        background-color: $color-grey-light-2;
    }
}