.episodelist-container {
    animation: moveInBottom 1.3s ease-out;

    & table thead tr {
        background-color: $color-grey-light-2;
        text-align: left;
        padding-left: .5rem;

        & th {
            padding: .5rem 1rem;
            border: 1.5px double $color-grey-dark-2;
        }
    }

    & table tbody tr {
        text-align: left;
        line-height: 2rem;
        background-color: $color-grey-dark-2;
        transition: all .3s ease-out;

        & td {
            padding: .1rem 1rem;
            border: 1.5px double $color-grey-dark-2;
        }
    
        &:nth-child(2n) {
            background-color: $color-grey-light-2;
        }
    
        &:hover {
            color: $color-white;
            background-color: $color-grey-dark;
        }
    }

    & img {
        border-radius:10px;

        @include respond(phone) {
            width:100%;
        }
    }
}