.episode-container {
    animation: moveInRight 1s ease-out;

    @include respond(tab-port) {
        padding-top: 3rem;
    }
}

.episode-container img {
    border-radius: 10px;
    animation: moveInLeft 1.5s ease-out;
}