.show-container {
    animation:moveInLeft 1s ease-out ;

    @include respond(tab-port) {
        padding-top: 3rem;
    }

    & img {
        border-radius: 10px;
    }

    & h3 {
        margin-bottom: $gutter-vertical-small;
    }
}