/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800px] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #eff3fc; }

body {
  text-align: center;
  box-sizing: border-box;
  padding: 3rem;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

a {
  color: inherit;
  text-decoration: none; }

.text-left-align {
  text-align: left; }

.text-justify {
  text-align: justify; }

.u-center-table {
  margin-left: auto;
  margin-right: auto; }

.u-margin-left-medium {
  margin-left: 2.8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-left-medium {
      margin-left: 1rem !important; } }

.u-width-big {
  width: 75% !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .3rem .5rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  animation: moveInRight 2.8s ease-out;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(3px);
  box-shadow: 0 -1rem -2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(0);
  box-shadow: 0 -0.5rem -1rem rgba(0, 0, 0, 0.2); }

.btn--black {
  background-color: #000;
  color: #28b485; }

.episode-container {
  animation: moveInRight 1s ease-out; }
  @media (max-width: 56.25em) {
    .episode-container {
      padding-top: 3rem; } }
  .episode-container img {
    border-radius: 10px;
    animation: moveInLeft 1.5s ease-out; }
  .episode-container h3 {
    margin-bottom: 0.5rem; }
  .episode-container p {
    padding: .5rem 1rem;
    border: 1.5px outset #000;
    border-radius: 5px;
    background-color: #eee; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #28b485; }

.show-container {
  animation: moveInLeft 1s ease-out; }
  @media (max-width: 56.25em) {
    .show-container {
      padding-top: 3rem; } }
  .show-container img {
    border-radius: 10px; }
  .show-container h3 {
    margin-bottom: 0.5rem; }

.episodelist-container {
  animation: moveInBottom 1.3s ease-out; }
  .episodelist-container table thead tr {
    background-color: #eee;
    text-align: left;
    padding-left: .5rem; }
    .episodelist-container table thead tr th {
      padding: .5rem 1rem;
      border: 1.5px double #999; }
  .episodelist-container table tbody tr {
    text-align: left;
    line-height: 2rem;
    background-color: #999;
    transition: all .3s ease-out; }
    .episodelist-container table tbody tr td {
      padding: .1rem 1rem;
      border: 1.5px double #999; }
    .episodelist-container table tbody tr:nth-child(2n) {
      background-color: #eee; }
    .episodelist-container table tbody tr:hover {
      color: #fff;
      background-color: #777; }
  .episodelist-container img {
    border-radius: 10px; }
    @media (max-width: 37.5em) {
      .episodelist-container img {
        width: 100%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0.5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 0.5rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 25% !important; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }
